header {
    
    
    width: 100%;
    height: 250px;
    background-color: brown;
}
.divheader0 {
    height: 50px;
}
.headerlogo{
    width: 80px;
    height: 80px;
    
}
.divheader1 {
    padding: 1rem;
    width: 100%;
    height: 100px;
}

.divul {
    padding: 1rem;
    list-style:none;
    color: white;
    display: flex;
    text-decoration: none;
    justify-content: space-around;
}